/* Reset some default styles */
body, h1, h2, ul, li, p, select, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;

}

body {
    background-image: url('bg_1.jpg'); /* Replace 'your-background-image.jpg' with your image path */
    background-size: cover;
    font-family: "Be Vietnam Pro", sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    /* Semi-transparent background */
    color: white;
}
/* Add your CSS styles here */

/* Style for the heading with a solid background */

h1 {
    font-size: 32px;
    background-color: #eef1f4; /* Background color */
    color: #1b189f; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    display: inline-block; /* Make the background take the width of the text */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-location, .expense-form, .expense-list {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(229, 227, 244, 0.9); /* Semi-transparent background */
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style input and select elements */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9f4;
    border-radius: 5px;
    outline: none;
}

select {
    appearance: none; /* Remove default arrow in select */
    background-image: url('dropdown-arrow.png'); /* Replace with your arrow image */
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px; /* Space for the arrow */
}

/* Style the Add Location button */
#add-location-btn, #add-expense-btn {
    background-color: #8f7deb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#add-location-btn:hover, #add-expense-btn:hover {
    background-color: #1b189f; /* Darker shade on hover */
}

/* Style the Expense List */
#expenses {
    list-style-type: none;
    padding-left: 0;
}

#expenses li {
    background-color: rgba(0, 0, 0, 0.1); /* Light background for each item */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
